<template>
  <v-card class="ip-data" v-cy-helper="{ element:'ip-data' }">
    <v-card-text>
      <v-row class="py-8">
        <v-col cols="12" lg="3" class="px-12 py-0">
          <label class="d-block grey--text font-weight-bold">IP ADDRESS</label>
          <span v-if="ipAdress" class="text-h6 black--text">{{ ipAdress }}</span>
        </v-col>
        <v-col cols="12" lg="3" class="px-12 py-0 border-left">
          <label class="d-block grey--text font-weight-bold">LOCATION</label>
          <span v-if="location" class="text-h6 black--text">{{ location }}</span>
        </v-col>
        <v-col cols="12" lg="3" class="px-12 py-0 border-left">
          <label class="d-block grey--text font-weight-bold">TIMEZONE</label>
          <span v-if="timezone" class="text-h6 black--text">{{ timezone }}</span>
        </v-col>
        <v-col cols="12" lg="3" class="px-12 py-0 border-left">
          <label class="d-block grey--text font-weight-bold">ISP</label>
          <span v-if="isp" class="text-h6 black--text">{{ isp }}</span>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import CyHelper from "~/directives/cy-helper";

export default {
  name: 'IpData',

  directives: {
    CyHelper,
  },

  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },

  computed: {
    ipAdress() {
      if(!this.data) return null;
      return this.data?.ip;
    },
    location() {
      if(!this.data) return null;
      return `${this.data?.location?.city} ${this.data?.location?.postalCode}
       ${this.data?.location?.region} ${this.data?.location?.country}`;
    },
    timezone() {
      if(!this.data) return null;
      return `UTC${this.data?.location?.timezone}`;
    },
    isp() {
      if(!this.data) return null;
      return this.data?.isp;
    },
  },
}
</script>

<style lang="scss" scoped>
.ip-data {
  margin-bottom: -65px;
  z-index: 999;
  border-radius: 15px;
}

.border-left {
  border-left: 1px solid #dedede;
}
</style>
