<template>
    <v-card elevation="0" class="transparent">
        <v-card-title class="d-block text-center white--text">
            <h2 class="my-8">
              IP Address Tracker
            </h2>
        </v-card-title>
        <v-card-text>
          <div style="max-width:600px" class="ma-auto">
            <v-text-field
              v-model="ipValue"
              v-cy-helper="{ element:'ip-field' }"
              placeholder=" Search for any IP address or domain"
              height="55"
              background-color="#FFFFFF"
              class="ip-input"
            >
              <template v-slot:append-outer>
                <div class="ip-submit">
                  <v-icon
                    v-cy-helper="{ element:'ip-submit' }"
                    size="25"
                    @click="searchIp()"
                    color="white"
                  >
                    mdi-chevron-right
                  </v-icon>
                </div>
              </template>
            </v-text-field>
          </div>
        </v-card-text>
    </v-card>
</template>

<script>
  import CyHelper from '~/directives/cy-helper';
  import iconArrow from '~/static/img/icon-arrow.svg'
  import {latLng} from "leaflet";
  export default {
    name: 'IpForm',

    directives: {
      CyHelper,
    },

    components: {
      iconArrow,
    },

    props: {
      data: {
        type: Object,
        default: () => {},
      },
    },

    watch: {
      /**
       * Watch for the "data" prop changes
       * and change the center variable when it append
       */
      data() {
        this.ipValue = this.data?.ip;
      },
    },

    data() {
        return {
            mapData: null,
            ipValue: null,
        };
    },

    methods: {
      /**
       * Send a request to get data relative to an IP address
       * and save it in a localStorage variable
       * @returns {Promise<void>}
       */
      async searchIp() {
        if(!this.ipValue) return;

        // Prepare the request
        const data = {
            ip: this.ipValue,
        };
        const request = {
            method: 'GET',
            headers: {
            'Authorization': 'Bearer WookieIP2022',
            'Content-Type': 'application/json',
            },
            data: JSON.stringify(data),
            url: `https://wookie.codesubmit.io/ipcheck?ip=${this.ipValue}`,
        };

        try {
          // axios request
          this.mapData = await this.$nuxt.$axios(request);

          // save to localStorage
          window.localStorage.setItem('mapData', JSON.stringify(this.mapData.data));

          // emit an event to refresh the data
          this.$emit('refresh');
        } catch(error) {
          // display errors in console
          console.log(`There was an error ${error.message}`)
        }
      },
    },
}
</script>

<style lang="scss">
.theme--light.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
  display: none;
}

.transparent {
  background: transparent;
}

.bg-white {
  background: #FFFFFF;
}

.ip-input{
  border-radius: 15px 0px 0px 15px;
  .v-text-field__slot {
    input {
      padding: 0 5px;
    }
  }
  .v-input__append-outer {
    margin: 0;
    .ip-submit {
      background: #000000;
      border-radius: 0px 15px 15px 0px;
      button {
        padding: 15px;
      }
    }
    .ip-submit:hover {
      background: #444444;
    }
  }
}

</style>
