<template>
  <l-map
    v-cy-helper="{ element:'ip-map' }"
    :zoom="zoom"
    :center="center"
    style="height: 500px; width: 100%"
  >
    <l-tile-layer
      :url="url"
      :attribution="attribution"
    />
    <l-marker :lat-lng.sync="center">
      <l-icon
        :icon-size="iconSize"
        :icon-url="markerIcon"
      />
    </l-marker>
  </l-map>
</template>

<script>
  import { latLng } from "leaflet";
  import { LMap, LTileLayer, LMarker, LIcon } from 'vue2-leaflet';
  import iconLocation from '~/static/img/icon-location.svg'
  import CyHelper from "~/directives/cy-helper";

export default {
  name: 'IpMap',

  directives: {
    CyHelper,
  },

  components: {
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
  },

  props: {
    data: {
      type: Object,
      default: () => {},
    },
  },

  data () {
      return {
        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        zoom: 15,
        center: latLng(47.41322, -1.219482),
        iconSize: [45, 52],
        markerIcon: iconLocation,
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      }
  },

  watch: {
    /**
     * Watch for the "data" prop changes
     * and change the center variable when it append
     */
    data() {
      this.center = latLng(this.data?.location?.lat, this.data?.location?.lng);
    },
  },
}
</script>
