<template>
  <div>
    <div style="background: url(/img/pattern-bg.png); background-size: cover;" >
      <v-container>
        <ip-form @refresh="refresh()" :data="mapData" />
        <ip-data :data="mapData" />
      </v-container>
    </div>
    <v-container fluid class="pa-0">
      <ip-map :data="mapData"/>
    </v-container>
  </div>
</template>

<script>
  import IpForm from '~/components/IpForm.vue';
  import IpMap from '~/components/IpMap.vue';
  import IpData from '~/components/IpData.vue';
  import background from '~/static/img/pattern-bg.png'

  export default {
    name: 'IndexPage',
    components: {
      IpForm,
      IpMap,
      IpData,
    },

    async fetch() {
        const storage = await window.localStorage.getItem('mapData') ;
        if (storage) {
            this.mapData = JSON.parse(storage);
        }
    },

    data() {
        return {
            mapData: null,
        }
    },

    methods: {
      refresh() {
        this.$fetch();
      },
    },
  }
</script>
